.sub
{
    background-color: rgb(172, 253, 91);
}


.barra
{
    background-color: rgb(0, 71, 0);
    overflow: hidden;
    padding: 30px;
}

.barra a
{
    color: antiquewhite;
}

.barra2
{
    background-color: rgb(55, 110, 55);
    overflow: hidden;
    padding: 30px;
}

.barra2 a
{
    color: antiquewhite;
}

.barra3
{
    background-color: rgb(55, 110, 55);
    overflow: hidden;
    padding: 30px;
}

.barra3 a
{
    color: antiquewhite;
}

.barra4
{
    background-color: rgb(55, 110, 55);
    overflow: hidden;
    padding: 30px;
}

.barra4 a
{
    color: antiquewhite;
}

.barra5
{
    background-color: rgb(55, 110, 55);
    overflow: hidden;
    padding: 30px;
}

.barra5 a
{
    color: antiquewhite;
}