{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="osos pandas, pandas, bambú, osos, habitat"> 
    <meta name="description" content="Aprende más sore los pandas!!!">
    <meta name="author" content="Norma Ramirez">
    <title>Comportamiento</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body style="background-color: rgb(215, 255, 175);">
    <header>
        <div class="barra3">
            <a href="{% url 'index' %}" >Volver al inicio</a>
            <a href="{% url 'habitat' %}" style="margin-left: 700px;">Habitat</a>
            <a href="{% url 'impacto' %}" style="margin-left: 70px;">Cambio climático</a>
            <a href="{% url 'formulario' %}" style="margin-left: 70px;">Comentarios</a>   
        </div>
        <h1>Comportamiento y socialización</h1>
    </header>
    <br>
    <main>
        <article>
            <div>
                <h2>El comportamiento de los osos pandas</h2>
                <p>El comportamiento social de los <cite>pandas gigantes</cite> es un tema interesante que ha sido estudiado ampliamente por investigadores y científicos.
                Comprender el comportamiento social de estos animales es importante para su conservación, así como para obtener información sobre la evolución del comportamiento social en otros animales.
                Se sabe que los pandas gigantes son animales solitarios, pero interactúan con otros pandas, especialmente durante la temporada de apareamiento.El comportamiento social de los pandas gigantes está influenciado por varios factores, incluido su hábitat, disponibilidad de alimentos y comportamiento reproductivo.
                </p>
                <figure>
                    <video controls width="600px" src="https://media.istockphoto.com/id/1024188804/es/v%C3%ADdeo/cub-del-oso-panda-gigante-en-un-%C3%A1rbol.mp4?s=mp4-640x640-is&k=20&c=vDYL8SXZ9i7hB4_qAKPJaicAf_i_G9BYfQSf9tUN2KA=">Pandas conviviendo</video>
                </figure>
            </div>
            <dl>
                <dt>Aquí hay algunas ideas en profundidad sobre el comportamiento social de los <cite>pandas gigantes</cite>:
                </dt>
                <br>
                <dd>1. Animales solitarios: se sabe que los pandas gigantes son animales solitarios y prefieren vivir solos.Tienen un rango de inicio que defienden ferozmente y generalmente evitan el contacto con otros pandas fuera de la temporada de apareamiento.Sin embargo, se comunican con otros pandas a través del marcado de olor, las vocalizaciones y el lenguaje corporal.
                </dd>
                <br>
                <dd>2. Temporada de apareamiento: durante la temporada de apareamiento, los pandas masculinos compiten por la atención de una mujer.Utilizan vocalizaciones y marcas de olor para atraer a las hembras y establecer dominio sobre otros hombres.Las pandas femeninas son receptivas al apareamiento durante solo unos días cada año, y pueden aparearse con múltiples machos durante este período.
                </dd>
                <br>
                <dd>3. Relación madre-cubo: las pandas femeninas son muy protectores con sus cachorros y los cuidarán exclusivamente durante los primeros meses de sus vidas.Los cachorros se quedan con sus madres por hasta tres años antes de aventurarse por su cuenta.Durante este tiempo, la madre le enseña a su cachorro cómo encontrar comida, escalar árboles y otras habilidades de supervivencia esenciales.</dd>
                <br>
                <dd>4. Comunicación: los pandas usan varias formas de comunicación para interactuar entre sí.El marcado de olor es particularmente importante, ya que ayuda a los pandas a establecer su rango de hogar y comunicar su estado reproductivo.Los pandas también usan vocalizaciones, como balones, gemidos y gruñidos, para comunicarse entre sí.
                </dd>
            </dl>
            <br>
            <p>El comportamiento social de los <cite>pandas gigantes</cite> es fascinante y complejo.A pesar de ser animales solitarios, interactúan entre sí, especialmente durante la temporada de apareamiento.Comprender su comportamiento social es crucial para su conservación y para obtener información sobre la evolución del comportamiento social en otros animales.
            </p>
        </article>
    </main>
    <hr>
    <footer>
        <h3>Conoce un poco más!!</h3>
        <aside>Dentro del próximo archivo mostraremos un interesante artículo de hace algunos años donde contiene información muy completa sobre los pandas!!.</aside>
        <br>
        <embed width="1300px" height="500px" src="https://www.mncn.csic.es/sites/default/files/2020-05/nm08_14chulin.pdf" type="application/pdf">
    </footer>
    
</body>
</html>