{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="osos pandas, pandas, bambú, osos, habitat">
    <meta name="author" content="Norma Ramirez">
    <title>Habitat</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body style="background-color: rgb(199, 255, 143);">
<header>
    <div class="barra2">
        <a href="{% url 'index' %}">Volver al inicio</a>
        <a href="{% url 'comportamiento' %}" style="margin-left: 500px;">Comportamiento y socialización</a>
        <a href="{% url 'impacto' %}" style="margin-left: 70px;">Cambio climático</a>
        <a href="{% url 'formulario' %}" style="margin-left: 70px;">Comentarios</a>    
    </div>
        <h1>Ahora aprenderemos sobre su habitat</h1>
    </header>
    <main>
        <article>
            <section>
                <br>
                <h2>Zona geográfica</h2>
                <p>Gracias al descubrimiento de registros fósiles en <time year="1920">1920</time>, se demostró que la distribución del oso panda alcanzaba Myanmar <small>(Birmania)</small>, Vietnam, China y Pekín. Sin embargo, hoy en día, en <time year="2024">2024</time>, sus poblaciones se encuentran únicamente sobre las sierras presentes en el <strong>sur oeste de China</strong>.
                </p>
            </section>
            <section>
                <br>
                <h2>Habitat</h2>
                <p>Es de amplio conocimiento que el tipo de hábitat del oso panda es <em>terrestre</em>, pero dentro de todos los hábitats terrestres posibles, el panda habita bosques templados en altura.

                En cuanto a la temperatura del hábitat del oso panda, esta es templada del tipo subtropical húmedo. Esta temperatura es fundamental para la existencia del oso panda, en principio porque permite el desarrollo de más de 30 especies de bambú, el cual es su principal alimento, y, en segundo lugar, porque ha permitido que el oso panda no hiberne, a diferencia de los demás osos que hibernan. 
                </p>
                <figure>
                    <video controls width="500px" src="https://media.istockphoto.com/id/1024194292/es/v%C3%ADdeo/cub-del-oso-panda-gigante-en-un-%C3%A1rbol.mp4?s=mp4-640x640-is&k=20&c=W_TABvwuOTfTmaytjssgBMHyVz7Sy4-QRyihA2MSbi8=">Video pandas habitat</video>
                </figure>
            </section>
            <section>
                <h2>¿Qué necesita el oso panda para vivir?</h2>
                <blockquote cite="https://www.ecologiaverde.com/habitat-del-oso-panda-3350.html">
                    "Como hemos mencionado con anterioridad, la alimentación del oso panda se basa en la caña de bambú. De hecho, tan importante es esta especie vegetal en la dieta de los pandas que un único ejemplar puede llegar a ingerir entre 12 y 38 kg de bambú por día. Indudablemente, el bambú es una necesidad básica para los pandas ya que de él depende prácticamente la supervivencia de este animal.

                    Otra necesidad esencial para el panda es el hábitat con temperatura templada. Lo cierto es que las crías de los pandas nacen con muy bajo peso y con un ligero pelaje. Por ello, las temperaturas templadas son fundamentales para la supervivencia y el crecimiento de los recién nacidos. Incluso, si las temperaturas descienden, los pandas bajan hacia menores altitudes en búsqueda de temperaturas mas cálidas."
                </blockquote>
            </section>
        </article>
        <hr>
    </main>
    <footer>
        <h3>Links donde podrás encontrar más información sobre el tema</h3>
        <ul>
            <li>
                <a href="https://www.worldwildlife.org/descubre-wwf/historias/panda-gigante#:~:text=Los%20pandas%20viven%20principalmente%20en,como%20si%20fueran%20dedos%20pulgares." target="_blank" >Panda Gigante: Situación, Importancia, Amenazas</a>
            </li>
            <br>
            <br>
            <li>
                <a href="https://humanidades.com/oso-panda/" target="_blank">¿Qué es el oso panda? y más!!</a>
            </li>
        </ul>
    </footer>
</body>
</html>